.book-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-content {
    background-color: #ffffff;
    border-radius: 12px;
    width: calc(100% - 260px);
    height: calc(100vh - 160px);
    color: #000;
    padding: 20px;
    border: 1px solid lightgray;
    margin: 20px;
}

.Toastify__toast-container {
    position: absolute;
    z-index: 9999; /* Set to desired z-index */
  }
  

/* Style scrollbar */
.pform::-webkit-scrollbar,
.doctors-list::-webkit-scrollbar {
    width: 4px; 
    background-color: transparent; 
    scroll-margin-right: 30px;
}

.doctors-list::-webkit-scrollbar{
    height: 10px;
}

/* Track */
.pform::-webkit-scrollbar-track,
.doctors-list::-webkit-scrollbar-track {
    /* background: #eee; */
    border-radius: 5px; /* Set the background color of the track */
    margin: 4px;
}

/* Handle */
.pform::-webkit-scrollbar-thumb,
.doctors-list::-webkit-scrollbar-thumb {
    background: #b9b9b9; 
    border-radius: 5px;  /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
.pformt::-webkit-scrollbar-thumb:hover,
.doctors-list::-webkit-scrollbar-thumb:hover {
    background: #555;/* Change color of scrollbar handle on hover */
}



.pform{
    font-size: 13px;
    text-align: center;
    overflow-y: auto; 
    max-height: calc(100vh - 180px);
}

.pform-group{
    margin-bottom: 10px;
}

.label1 {
    font-size: 14px;
    font-weight:600;
    /* text-decoration: underline; */
}
.label2{
    font-size: 14px;
    font-weight:600;
    /* text-decoration: underline; */
}

.pform-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pform-group input[type="text"]{
    color: var(--body_color);
    padding: 8px;
    width: 75%;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: var(--book-color);
    margin: 10px 0px;
}

.pform-group input[type="date"], select{
    padding: 5px 10px;
    width: 20%;
    color: var(--body_color);
    background-color: var(--book-color);
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.pform-group input::placeholder{
    color: var(--place_color);
}

.pform-group select:hover,.pform-group  input[type="date"]{
    cursor: pointer;
}



.book-btn{
    padding: 12px 60px;
    margin: 20px 30px;
    border: none;
    border-radius: 10px; 
    background-color: rgb(255, 204, 0);
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.2s ease-in;
}

.book-btn svg{
    transition: transform 0.2s ease-in;
}

.book-btn:hover svg{
    transform: scale(1.4);
}

.book-btn:hover{
    cursor: pointer;
    background-color:    rgb(247, 208, 53);
}

.doctors-list {
    max-width: 75%;
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    justify-content: flex-start; /* Align items from left to right */
    overflow-x: scroll; /* Enable horizontal scrolling */
    border: 1px solid lightgray;
    margin: 10px 20px;
    border-radius: 12px;
  }
  
.doctors-list::-webkit-scrollbar {
    display: none;
}

  .table {
    text-align: left;
    min-width: 200px;
    margin: 15px 8px; /* Adjust margin */
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 7px; /* Adjust padding */
    flex-grow: 1; /* Allow items to grow to fill the available space */
    
}

.table:hover{
    cursor: pointer;
    background-color: #f7f7f7ef;
}

.table.selected {
    border: 1px solid #000000; /* Example: Change border color to blue */
    background-color: #f7f7f7;
}

.doctors-list h4,p {
    margin: 10px 0px;
}

.time-slots-list {
    max-width: 75%;
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    justify-content: flex-start; /* Align items from left to right */
    overflow-x: scroll; /* Enable horizontal scrolling */
    border: 1px solid lightgray;
    margin: 10px 20px;
    border-radius: 12px;
}

.time-slots-list::-webkit-scrollbar {
    display: none;
}


.time-slot {
    text-align: left;
    min-width: 100px;
    margin: 15px 8px; /* Adjust margin */
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 5px; /* Adjust padding */
    flex-grow: 1; /* Allow items to grow to fill the available space */
    cursor: pointer;
}

.time-slot:hover{
    cursor: pointer;
    background-color: #f7f7f7ef;
}

.time-slot.slcted {
    border: 1px solid #000000; /* Example: Change border color to blue */
    background-color: #f7f7f7;
}


.date-list {
    max-width: 75%;
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    justify-content: flex-start; /* Align items from left to right */
    overflow-x: scroll; /* Enable horizontal scrolling */
    border: 1px solid lightgray;
    margin: 10px 20px;
    border-radius: 12px;
}

.date-list::-webkit-scrollbar {
    display: none;
}

.date-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    align-items: center; /* Center items vertically */
}

.date {
    text-align: center;
    min-width: 150px; /* Adjust width */
    margin: 15px 8px; /* Adjust margin */
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 10px; /* Adjust padding */
    flex-grow: 0; /* Don't allow items to grow */
    cursor: pointer;
}

.date:hover{
    cursor: pointer;
    background-color: #f7f7f7ef;
}

.date.selected {
    border: 1px solid #000000; /* Example: Change border color to blue */
    background-color: #f7f7f7;
}
